#una{
    width: 70%;
    height: auto;
    border-radius: 50%;
}
#duha{
    width: 35%;
    height: 50%;
    border-radius: 8px;
    
}
#tulo{
    width: 34%;
    height: 50%;
    border-radius: 8px;
}
li{
    list-style-position: inside;
}
button{
    font-size: 24px;
    border-radius: 50%;
}